html, body { height: 100%; }

body {
  font-family: 'Bitter', serif;
  background-color: #f7f7f7; color: #333; padding: 0 0 0 0; margin: 0 0 0 0; height: 100%;

  .bodyContainer { align-items: stretch; display: flex; align-items: stretch; }

  .sidebar {
    width: 30em; min-width: 30em; overflow: scroll-x; display: flex;

    .search {
      margin: 2em 0 2em 3em;
      input { padding: 0.3em; border-radius: 3px; width: 18em; border: solid 1px #eee; }
    }

    .container {
      padding: 1em 2em 2em 2em; flex-grow: 1;
      .title {
        display: flex; align-items: flex-start; justify-content: left;
        img { width: 20em; }
      }
      .menu {
        margin-left: 2em;
        a, a:visited { color: #0347b5; }
        ul { list-style: none; margin-top: 0.5em;  padding: 0.3em 0 0 1.5em; }
        li { margin-bottom: 0.5em; padding: 0.2em; }
        li:last-child { margin-bottom: 0; }
        li.current { background-color: #eee; }
        li::before { content: ""; padding-right: 0.55em; }
        li.collapsed>ul { display: none;  }
        li { img.arrowRight, img.arrowDown { display: none; width: 1em; float: left; margin-top: 0.1em; opacity: 0.5; }}
        li.parent.collapsed>img.arrowRight { display: inline; }
        li.parent.expanded>img.arrowDown { display: inline; }
        li.highlighted>a { color: red; }
      }
    }
    .border {
      width: 6px; background-color: #eee; cursor: ew-resize;
      .dragIndicatorsContainer { display: flex; justify-content: space-around; flex-direction: column; max-height: 1000px; height: 100%; }
      .dragIndicators {
        width: 6px; display: flex; flex-direction: column;
        .indicator { background-color: #aaa; width: 2px; height: 2px; margin: 5px auto; }
      }
    }
  }

  .mainframe {

     flex-basis: 500px; flex-grow: 1; padding: 2.5em;

    .title {
      h1 { font-size: 200%; margin: 0 0 0.2em 0; }
      .subtitle { font-size: 120%; font-weight: bold; }
    }

    .content {
      margin-top: 3em; line-height: 170%; margin-bottom: 10em; max-width: 1000px;

      li { margin-bottom: 0.8em; }
      a.bold { font-weight: bold; }

      h2 { margin-top: 2em; margin-bottom: 0; }
      h3 { font-size: 130%; margin-bottom: 0; }
      h4 { font-size: 120%; margin-bottom: 0; }
      p { margin-top: 0.5em; }
      code.inline { white-space: nowrap; }

      .note {
        border-left: solid 5px #d8e8f2; background-color: #fff;
        padding: 1em 1em 1em 1.5em; font-size: 90%; line-height: 130%;
        code.inline { font-size: 100%; }
        &.important {
          border-left: solid 5px #c91b00;
          b.important { color: #c91b00; }
        }
      }

      video {
        border: solid 1px #ccc;
      }

      ul.codeList ul { margin-top: 1em; }

    }

    .navigation {
      display: flex; justify-content: space-between; margin-top: 3em;  line-height: 120%;
      .hint { font-size: 80%; opacity: 0.5; }
      .section { opacity: 0.5; }
      .prev, .next {
        border-radius: 5px; padding: 1em; display: flex; align-items: flex-end; width: 25em;
        &>a { display: block; position: relative; top: 0.5em; img { width: 2em; }}
        .text a { font-size: 130%; display: block; color: #333; &:hover { text-decoration: none; }}
      }
      .prev { background-color: #d8ebf2; justify-content: flex-start; a { margin-right: 1em; }}
      .next { background-color: #d8f2da; justify-content: flex-end; text-align: right; a { margin-left: 1em; }}
    }
  }

  code {
    &.inline { border-radius: 3px; padding: 0.2em; margin: 0 0.2em; font-size: 120%; border: solid 1px #e8ddac; white-space: nowrap; background: #f5f2f0; font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; color: #000; }
    &.string { border-radius: 3px; padding: 0.3em; margin: 0 0.2em; border: solid 1px #e8ddac; color: #9e850e; background-color: #f5f2f0; font-size: 100%; }
  }

}
