!!!
%html
  %head
    %title= current_page.data.title || "Middleman"
    = stylesheet_link_tag "site"
    = stylesheet_link_tag "prism"
    %link(href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet")
    = partial "shared/favicons"
  %body{ data: { page_id: @page_id }}

    .bodyContainer

      .sidebar(data-component-class="SidebarComponent")
        .container
          .title
            = image_tag "webface_logo.svg"
          .search
            %input(data-component-class="FormFieldComponent" data-component-roles="search" placeholder="Search...")
          .menu= partial "shared/_menu"
        .border(data-component-part="border")
          .dragIndicatorsContainer
            - 3.times do
              .dragIndicators
                - 3.times do
                  .indicator=""

      .mainframe= yield


= javascript_include_tag "webface/lib/webface_init.js"
= javascript_include_tag "application.js", type: "module"
= javascript_include_tag "prism.js"
