---
title: Validations / Custom validations - Webface.js
---

- @page_id = "validations/custom-validations"
.title
  %h1 Validations / Custom validations

.content

  %p
    You can also easily define your own custom validations to be applied
    to current component and/or children. For example, say we wanted to
    validate that our comment text field in our form only contained
    alphanumeric characters. First, you need to a specially named
    method to your component, which starts with <code class="inline language-javascript">_validate_</code>
    followed by the desired custom validation name:

  %pre.line-numbers
    %code.language-javascript
      :erb
        export class CommentFormComponent extends extend_as("CommentFormComponent").mix(Component).with() {

          ...

          _validate_isAlphanumeric(field_name,v) {
            var field_value = this.get(field_name);
            if(field_value == null || /^[a-zA-Z0-9]*$/.test(field_value))
              this.validation_errors[field_name].push(
                this._getValidationErrorMessage("should only contain letters an numbers", v)
              );
          }
        }

  %p
    In this case, we wanted to name our validation <code class="string">isAlphanumeric</code>, so
    we created a method named <code class="inline language-javascript">_validate_isAlphanumeric</code>
    Inside the method, <code class="inline language-javascript">this</code> refers to the component
    to which the validation is applied (in our case, a <code class="inline language-javascript">FormFieldComponent</code>
    representing <code class="inline language-html">&lt;textara&gt;</code>, which is the child of the
    <code class="inline language-javascript">CommentFormComponent, where we're defining this validation</code>).

  %p
    Now we can just add the validation to the list of existing ones and it will work:

  %pre.line-numbers(data-lines="8")
    %code.language-javascript
      :erb
        export class CommentFormComponent extends extend_as("CommentFormComponent").mix(Component).with() {
          constructor() {
            super();

            this.validations = {
              "content.value": { "isNotNull"    : true   },
              "content.value": { "isLongerThan" : 5      },
              "content.value": { "isAlphanumeric" : true }
            };

          }
        }

  = partial "shared/nav", locals: { prev: "Validations/Standard validations", nxt: "Utils/Logger" }
