---
title: Validations / Standard validations - Webface.js
---

- @page_id = "validations/standard-validations"
.title
  %h1 Validations / Standard validations

.content

  %p
    <code class="inline language-javascript">Validatable</code> module in Webface.js provides
    a number of useful validations that are automatically avaialble to
    all instances of <code class="inline language-javascript">Component</code> class
    (because the <code class="inline language-javascript">Validatable</code> module is
    included in it). To clarify, it's not just <code class="inline language-javascript">FormFieldComponent</code>
    instances that can use validations, but all Webface.js components, standard or
    user-defined:

  %p
    Below is the list of validations you can add to any Webface.js component,
    described as <code class="inline language-javascript">name, [argument type]</code>:

  %ul.codeList
    %li
      <b>Numeric validations</b>
      %ul
        %li <code class="inline language-javascript">isNumeric, [Boolean]</code>
        %li <code class="inline language-javascript">isLessThan, [Number]</code>
        %li <code class="inline language-javascript">isMoreThan, [Number]</code>

    %li
      <b>Collection/ENUM validations</b><br/>
      %ul
        %li <code class="inline language-javascript">isOneOf, [Object]</code>
        %li <code class="inline language-javascript">isNotOneOf, [Object]</code>

    %li
      <b>String validations</b><br/>
      %ul
        %li <code class="inline language-javascript">isLongerThan, [int]</code>
        %li <code class="inline language-javascript">isShorterThan, [int]</code>
        %li <code class="inline language-javascript">hasExactLengthOf, [int]</code>
        %li <code class="inline language-javascript">matches, [RegExp]</code>
        %li <code class="inline language-javascript">isNotNull, [Boolean]</code>
        %li <code class="inline language-javascript">isNotEmpty, [Boolean]</code>

  = partial "shared/nav", locals: { prev: "Validations/overview", nxt: "Validations/Custom validations" }
