---
title: Standard components / FormField - Webface.js
---

- @page_id = "standard-components/form-field"
.title
  %h1 Standard components / FormField

.content

  %p.note
    #{link_to "Try a working example", "/examples/components/form_field"} of <code class="inline language-javascript">FormFieldComponent</code>
    and then #{link_to "see the code for the example", "https://gitlab.com/hodlhodl-public/webface.js/tree/master/test/examples/components/form_field"}.

  %p
    This is a basic component for form fields, from which most other form field components should inherit from.
    The important thing that it does, it defines a <code class="inline language-javascript">value_holder</code>
    concept - a part inside the DOM-structure that actually holds the value (an input) and is being submitted
    when the form is submitted. It is needed because very often the presentation (html) of a form field in real-world
    application may actually consist of a number of html-elements (thin field + label + hint underneath the field +
    error hints all wrapped by a parent <code class="inline language-html">&lt;div&gt;</code>).

  %p
    It also introduces some basic form field functionality that is used by all inheriting
    components. Let's go over all of that one by one.


  %h2 Value holder
  %p
    In its most basic form, a form field dom structure may actually consist of just a single html
    element - <code class="inline language-html">&lt;input&gt;</code>, which itself will be the value holder.
    <code class="inline language-javascript">FormFieldComponent</code> implements a two-way binding
    between the html element's value and component's <code class="inline string">value</code>
    attribute. Thus, if user types something into the field, the component's attribute is updated immediately
    (on each <code class="inline language-javascript">keyup</code> or <code class="inline language-javascript">change</code>)
    event. Regardless of the structure of the html for your component, value holder is identified by the
    <code class="inline language-html">data-component-part="value_holder"</code> attribute attached to the respective element.
    Webface will programattically add <code class="inline language-javascript">data-component-attr="value"</code>
    to bind the html-element's value to the component's <code class="inline string">value</code> attribute.

  %p.note
    Normally, in order to bind html attribute, such as <code class="inline language-javascript">value=""</code>
    to some component's attribute, you'd need to add <code class="inline language-javascript">data-component-attr-map="value:value"</code>,
    but the <code class="inline string">value</code> attribute is a special case: when Webface sees it on
    an <code class="inline language-html">&lt;input&gt;</code> and that input also has <code class="inline language-html">data-component-attr="value"</code>
    it will bind to the <code class="inline language-javascript">.value</code> property of that html-element
    automatically.

  %h2 Publishing the change event
  %p
    Whenever the <code class="inline string">value</code> attribute changes, either through
    user input, or programmatically, by calling <code class="inline language-javascript">FormFieldComponent.set("value", ...)</code>
    a <code class="inline string">change</code> event is published by the component. This is convenient
    if your component is a child of some form component which, say, interactively reacts to changes in
    its fields and does something in response. For instance, we can imagine such a form component to
    show additional fields if user enters <code class="inline string">2</code> in the "number of children"
    field.

  %h2 Resetting the field
  %p
    A field can be reset to its initial value - the one that was assigned during component initialization.
    Just call <code class="inline language-javascript">FormFieldComponent.reset()</code>. A <code class="inline language-javascript">change</code>
    event will also be published by the component upon a reset.

  %p.note
    ATTENTION: initial value is not previous value! If you want to set a previous value,
    you can do it by using the <code class="inline language-javascript">FormFieldComponent.previous_value</code>
    property (note: it's not an attribute, but actual object property) and write something
    like <code class="inline language-javascript">form_field.set("value", form_field.previous_value);</code>

  %h2 Validations
  %p
    If you have an element with the <code class="inline language-html">data-component-attr="validation_errors_summary"</code> attribute
    such as <code class="inline language-html">&lt;div data-component-attr="validation_errors_summary" class="errorsSummary"&gt;&lt;/div&gt;</code>,
    then upon running validations with <code class="inline language-javascript">FormFieldComponent.validate()</code>
    it will automatically add error messages into that html-element and the corresponding component <code class="inline string">validation_errors_summary</code>
    property, because <code class="inline string">validation_errors_summary</code> is declared as an attribute in
    <code class="inline language-javascript">FormFieldComponent</code>.

  %h2 Other attributes
  %p
    There a couple of attributes each <code class="inline language-javascript">FormFieldComponent</code>
    instance (or an instance of its descendant class) is supposed to have.

    %ul
      %li
        <code class="inline string">name</code> which corresponds to the
        <code class="inline language-html">name=""</code> html attribute of the form field. This
        is obviously useful when you're submitting a form: a browser needs to know field's name
        in order to send the value to the server.

      %li
        <code class="inline string">disabled</code> which corresponds to the
        <code class="inline language-html">disable="disabled"</code> html attribute.

    In order for those to work, you need not forget to set attribute map on the <code class="inline language-html">&lt;input&gt;</code>
    html-element:

  %script(type="text/plain" class="language-markup line-numbers" data-line="5")
    :plain
      <div data-component-class="FormFieldComponent"
        <input
          name="field_name"
          type="text"
          data-component-attr-map="name:name,disabled:disabled"
        />
      </div>

  = partial "shared/nav", locals: { prev: "Standard components/ConfirmableButton", nxt: "Standard components/NumericFormField" }
