---
title: Attributes / Basics - Webface.js
---

- @page_id = "attributes/basics"
.title
  %h1 Attributes / Basics

.content

  %p
    Attributes are basically just some named values stored for each particular
    <code class="inline language-javascript">Component</code>instance. They are associated
    and bind to text content or html attributes of the dom element with which the component is
    associated, or descendants of that dom element. By "bind" we, of course, mean, that whenever we assign a new value to
    that attribute, the corresponding node in the dom changes its value (or attribute value). The reverse, however - 
    when an html element is updated - doesn't work automatically unless you set it up (see below).

  %p
    To illustrate this, let's define an attribute called <code class="inline language-javascript">caption</code>
    on a button and then change it.

  %pre.line-numbers
    %code.language-javascript
      :erb
        export class MyButtonComponent extends extend_as("MyButtonComponent").mix(Component).with() {
          constructor() {
            this.attribute_names = ["caption"];
          }
        }

  %p And the corresponding html code:
  %script(type="text/plain" class="language-markup line-numbers")
    :plain
      <body>
        <button data-component-class="ButtonComponent" data-component-attr="caption">
          Button 1
        </button>
      </body>

  %p
    Currently, the value of the <code class="inline language-javascript">caption</code> attribute for this component
    is <i><code class="inline language-javascript">Button1</code></i>
    Assuming the component is assigned to a variable called <code class="inline language-html">button1</code>,
    we can change the caption like this:

  %pre.line-numbers
    %code.language-javascript
      :erb
        button1.set("caption", "Click me");

  which will in turn produce the following changes in the html code:
  %script(type="text/plain" class="language-markup line-numbers")
    :plain
      <body>
        <button data-component-class="ButtonComponent" data-component-attr="caption">
          Click me
        </button>
      </body>

  %p
    Sometimes it is convenient to have attributes associated with
    <code class="inline language-javascript">HtmlElement.textContent</code> of dom elements,
    which are children to the component's own dom element. If we, for example, wanted the
    <code class="inline language-javascript">caption</code>
    attribute to be associated with a <code class="inline language-html">&lt;span&gt;</code> element
    inside a button, then all we had to do is change our html, while the Javascript code would remain
    the same:

  %script(type="text/plain" class="language-markup line-numbers")
    :plain
      <body>
        <button data-component-class="ButtonComponent">
          <span data-component-attr="caption">Click me</code>
        </button>
      </body>

  %p
    Notice how the <code class="inline language-javascript">data-component-attr</code> html attribute moved
    inside the <code class="inline language-html">&lt;span&gt;</code> element. The point here is: whichever
    dom element has the <code class="inline language-javascript">data-component-attr</code> attribute - be it
    the component's own associated dom element or one of its descendants - that's going to be the element
    associated with the attribute <code class="inline language-javascript">caption</code>. You can even have multiple
    dom elements associated with the same attribute within the same component - in that case all of them will be
    updated whenever we set a new value to the attribute through the <code class="inline language-javascript">Component.set()</code>
    method.

  %p
    This allows us to create pretty complex components and have more freedom in terms of binding attributes.

  = partial "shared/nav", locals: { prev: [nil, "Root component", "../root-component"], nxt: ["Attributes/", "DOM binding", "./dom-binding"]}
