---
title: Attributes / Casting - Webface.js
---

- @page_id = "attributes/casting"
.title
  %h1 Attributes / Casting

.content

  %p
    Because DOM can only store values as strings (well, almost), we need a reliable and predictable way to
    convert any type that a component attribute value holds into a string and then be able to to cast that string
    into an appropriate type of value when reading an html-attribute from DOM. This is what the casting mechanism does.

  %h2 Default casting rules

  %p There are default rules any Webface.js component will follow when casting attributes.
  %h3 When saving to DOM
  %ul
    %li
      if value is <code class="inline language-javascript">null</code> or <code class="inline language-javascript">false</code>, html attribute will be
      set to an empty string <code class="inline language-javascript">""</code>
    %li
      in any other case, a <code class="inline language-javascript">toString()</code> will be called on the value

  %h3 When reading from DOM
  %ul
    %li
      if the html-attribute string equals <code class="inline language-javascript">"true"</code> or <code class="inline language-javascript">"false"</code>
      that value will be cast to a <code class="inline language-javascript">Boolean</code> type, either
      <code class="inline language-javascript">true</code> or <code class="inline language-javascript">false</code>
      respectively.
    %li
      if the html-attribute string equals <code class="inline language-javascript">"null"</code>, that value will be cast to
      <code class="inline language-javascript">null</code>.
    %li
      if the html-attribute string only contains digits (and no decimal points), it will be cast to integer with <code class="inline language-javascript">parseInt()</code>.
    %li
      if the html-attribute string contains digits and a decimal point, it will be cast to float with <code class="inline language-javascript">parseFloat()</code>.
    %li
      if the html-attribute string only contains whitespace or is empty, it will be cast to <code class="inline language-javascript">null</code>.
    %li
      if no html-attribute exists with the name that corresponds to the component attribute's name,
      value of the component attribute becomes <code class="inline language-javascript">undefined</code> upon read attempt from DOM.
    %li
      in all other cases, the html-attribute is cast to string.


  %h2 Define your own casting for specific attributes
  %p
    You can define your own casting for specific attributes or even replace the default one for all attributes.
    Let's make it so that the value of the <code class="inline language-javascript">message</code> attribute for
    <code class="inline language-javascript">MyNotificationComponent</code>
    always has an exclamation mark at the end when saved to DOM, but upon reading
    the value from DOM this exclamation mark is again removed. To do that, we'll employ the
    <code class="inline language-javascript">Component.attribute_casting</code> object and change it in the constructor:

  %pre.line-numbers(data-line="4,5")
    %code.language-javascript
      :erb
        export class MyNotification extends extend_as("MyNotification").mix(Component).with() {
          constructor() {
            this.attribute_names = ["message"];
            this.attribute_casting["to_dom"]["message"]   = (v) => v + "!";
            this.attribute_casting["from_dom"]["message"] = (v) => v.replace(/!$/, "");
          }
        }

  %p And component's corresponding HTML code will initially look like this:

  %script(type="text/plain" class="language-markup")
    :plain
      <div data-component-class="MyMessageComponent" data-component-attr="message"></div>

  %p
    But be careful here. Casting values from html requires you to think of potential errors.
    In this example, if there's no html-attribute for some reason and the value fetched from
    DOM is undefined, you'd get an <code class="inline language-html">Uncaught TypeError: Cannot read property 'replace' of undefined</code>error for line 5,<br/> thus line 5 better be improved this way:

  %pre
    %code.language-javascript
      :erb
        this.attribute_casting["from_dom"]["message"] = (v) => v.replace(/!$/, "");

  %p
    Now, when we say <code class="inline language-javascript">notification1.set("message", "hello world")</code>
    (assuming component's instance is in the variable <code class="inline language-javascript">notification1</code>)
    the attribute is saved to DOM, and you'll get the following html:

  %script(type="text/plain" class="language-markup")
    :plain
      <div data-component-class="MyMessageComponent" data-component-attr="message">hello world!</div>


  %p Reading the html-attribute back from DOM will result in removal of the exclamation mark:
  %pre
    %code.language-javascript
      :erb
        notification1.updateAttrsFromNodes(["message"]);
        notification1.get("message"); // => "hello world"


  %h2 Re-define default casting
  %p You can also redefine casting for all attributes:
  %pre.line-numbers(data-line="4,5")
    %code.language-javascript
      :erb
        export class MyNotification extends extend_as("MyNotification").mix(Component).with() {
          constructor() {
            this.attribute_names = ["message"];
            this.attribute_casting["to_dom"]["default"]   = (v) => v + "!";
            this.attribute_casting["from_dom"]["default"] = (v) => v ? v.replace(/!$/, "") : null;
          }
        }

  %p
    Ideally, you'd want to run default casting functions and then run your own on top. You can do it in this way:

  %pre.line-numbers(data-line="6-7,9-12")
    %code.language-javascript
      :erb
        export class MyNotification extends extend_as("MyNotification").mix(Component).with() {
          constructor() {
            this.attribute_names = ["message"];
            this.attribute_casting["to_dom"]["default"]   = (v) => v + "!";

            // We need to assign the default casting function to another variable, as we're about to change it.
            let default_from_dom_casting = this.attribute_casting["from_dom"]["default"];

            this.attribute_casting["from_dom"]["default"]   = (v) => {
              let casted_v = this.attribute_casting["from_dom"]["default"](v);
              return (typeof casted_v == "string") ? casted_v.replace(/!$/, "") : casted_v;
            }

          }
        }
  %p
    We had to change our test for undefined/null values on line 11 here and instead of
    of doing this:

  %pre
    %code.language-javascript
      :erb
        v ? v.replace(/!$/, "") : null;

  %p
    we now check whether the returning value is string, because default casting function may, as we know,
    return numbers and boolean values and <code class="inline language-javascript">replace()</code> will
    not work on those. So, <code class="inline language-javascript">typeof casted_v == "string"</code>
    is more appropriate.

  = partial "shared/nav", locals: { prev: ["Attributes/", "Callbacks", "./callbacks"], nxt: ["Hierarchy/", "Children & Parents", "../hierarchy/children-and-parents"]}


