---
title: Attributes / Updating from DOM - Webface.js
---

- @page_id = "attributes/updating-from-dom"
.title
  %h1 Attributes / Updating from DOM

.content

  %p
    While changing attribute values in the component (in Javascript code) automatically updates
    the corresponding DOM elements and their html-attributes, the reverse is not the case. You'll need to
    manually call a <code class="inline language-javascript">updateAttrsFromNodes()</code> method in
    order to read values from DOM.

  %p
    This, for example, is useful on component initialization: after your page loads, you want
    the initial values for Component attributes to be set not from your code, but from the DOM.
    A simple way to do this is to call this method in the
    <a href="/component-initialization#afterInitialize">afterInitialize() hook</a>.

  %p
    You can specify which attributes to update by passing an array with attribute names as an argument, for example:

  %pre.line-numbers(data-line="3")
    %code.language-javascript
      :erb
        export class MyButtonComponent extends extend_as("MyButtonComponent").mix(Component).with() {
          constructor()     { this.attribute_names = ["caption", "button_type"];     }
          afterInitialize() { this.updateAttrsFromNodes({ attrs: ['button_type'] }); }
        }
  %p
    Upon component initialization, this will read <code class="inline language-javascript">button_type</code>
    value from the DOM, but not <code class="inline language-javascript">caption</code>.

  %p.note
    <b>Note:</b> if the value in the DOM is an empty string or a string consisting entirely of whitespace,
    component's attribute value will be set to <code class="inline language-html">null</code>. If the
    value is <code class="inline language-javascript">undefined</code> (means html-attribute doesn't exist),
    then the same <code class="inline language-javascript">undefined</code> value will be assigned to the
    component attribute. This is a customizable behavior, for more information refer to
    #{link_to "attributes casting", "/attributes/casting.html"} section.

  = partial "shared/nav", locals: { prev: ["Attributes/", "DOM binding", "./dom-binding"], nxt: ["Attributes/", "Default values", "./default-values"]}
