---
title: Templates / Named templates - Webface.js
---

- @page_id = "templates/named-templates"
.title
  %h1 Templates / Named templates

.content

  %p
    Sometimes may want to have slightly different templates used to create new component instances,
    but they would still be templates for the same component. Suppose you want comments from site admin
    to have a yellow background, so you just add another template:

  %script(type="text/plain" class="language-markup line-numbers" data-line="10,16")
    :plain
      <body data-component-class="RootComponent">

        <div data-component-class="Component" data-component-roles="comment_container">
          <div data-component-template="CommentComponent" data-component-attr="text">
            This is my first comment!
          </div>
        </div>

        <button data-component-class="AddCommentButtonComponent">Add comment</button>
        <button data-component-class="AddCommentButtonComponent" data-comment-type="admin">Add admin comment</button>

        <div style="display: none;">
          <div data-component-template="CommentComponent" data-component-attr="text"></div>
          <div 
            data-component-template="CommentComponent"
            data-template-name="admin"
            data-component-attr="text"
            style="background: yellow;">
          </div>
        </div>

      </body>

  %p
    Notice the <code class="inline language-html">data-template-name</code> attribute on line 16 -
    that's how we name our template so the <code class="inline language-javascript">Component.create()</code>
    constructor can later identify it.

  %p
    For all of this to work, we'd need to make a few changes in our components Javascript code.
    First to our <code class="inline language-javascript">AddCommentButtonComponent</code>:

  %pre.line-numbers(data-line="6,12,21")
    %code.language-javascript
      :erb
        export class AddCommentButtonComponent extends extend_as("AddCommentButtonComponent").mix(Component).with() {

          constructor() {
            super();
            this.native_events = ["click"];
            this.attribute_names = ["comment_type"];
            this.event_handlers.add({
              event: "click",
              role: "#self",
              handler: (self,event) => {
                CommentComponent.create({
                  template_name: self.get("comment_type"),
                  container: self.comment_container,
                  attrs: { text: "new comment" }
                });
              }
            });
          }

          afterInitialize() {
            this.updateAttrsFromNodes();
            this.comment_container = RootComponent.instance.findFirstChildByRole("comment_container");
          }

        }

  %p
    On line 6 here we add a new attribute called type (and we previously set its value to <code class="string">admin</code>)
    in html for the button responsible for creating admin comments). Next, on line 12, we pass this value in the
    <code class="inline language-javascript">component_template</code> argument, so that the <code class="inline language-javascript">.create()</code>
    constructor knows which template to use. And on line 21 (which is inside <code class="inline language-javascript">afterInitialixe()</code> callback,
    which is run before the button is clicked) we load the <code class="inline language-javascript">comment_type</code> attribute value
    from html we've just written above.

  %p
    The last change we need to make is to make our <code class="inline language-javascript">CommentComponent</code> constructor
    accept option, because that's how the template name is being passed to the newly created instance:

  %pre.line-numbers(data-line="2,3")
    %code.language-javascript
      :erb
        export class CommentComponent extends extend_as("CommentComponent").mix(Component).with() {
          constructor(options={}) {
            super(options);
            this.attribute_names = ["text"];
          }
        }

  %p.note
    Strictly speaking, it's better to always have that <code class="inline language-javascript">options={}</code>
    argument declared in your component's constructor and then pass it to the parent class constructor with
    <code class="inline language-javascript">super(options)</code>, but it can be ommited because javascript
    doesn't enforce number of arguments in a function

  %p
    After making these changes, we can click the <i>"Add admin comment"</i> button
    and we'll get the following html in our browser:

  %script(type="text/plain" class="language-markup line-numbers" data-line="8-10")
    :plain
       <body data-component-class="RootComponent">
        <div data-component-class="Component" data-component-roles="comment_container">

          <div data-component-class="CommentComponent" data-component-attr="text">
            This is my first comment!
          </div>

          <div data-component-class="CommentComponent" data-component-attr="text" style="background: yellow;">
            New comment
          </div>

        </div>
      ...
      </body>

  = partial "shared/nav", locals: { prev: "Templates/Overview", nxt: "Standard components/Button" }
