---
title: Hierarchy / Children & Parents - Webface.js
---

- @page_id = "hierarchy/children-and-parents"
.title
  %h1 Hierarchy / Children & Parents

.content
  %p
    Children/parent relationship between components in Webface.js usually depends on the DOM hierarchy, but technically it doesn't have to.
    Every component has a <code class="inline language-javascript">.parent</code> property, which will be
    <code class="inline language-javascript">null</code> if there is no parent
    (as is the case with the <code class="inline language-javascript">RootComponent</code> or any other temporarily orphaned component).
    Every component also has a <code class="inline language-javascript">.children</code> property which is an Array of all the children components.

  %p
    Let's see what happens when we initialize a Webface.js app.
    Here's a typical initializer that you would write (see #{link_to "Installation & Usage", "/installation-and-usage"})
    section for mode detail):

  %pre.line-numbers
    %code.language-javascript
      :erb
        export var Webface = {
          "init": (root_el=document.querySelector("body")) => {
            var root = new RootComponent();
            window.webface["root_component"] = root;
            root.dom_element = root_el;
            root.initChildComponents();
          }
        }
        Webface.init();


  %p
    When you call <code class="inline language-javascript">Webface.init()</code> it finds the <code class="inline language-html">&lt;body&gt;</code>
    element in the DOM, creates an instance of <code class="inline language-javascript">RootComponent</code> for it and assigns that
    <code class="inline language-html">&lt;body&gt;</code> element to <code class="inline language-javascript">RootComponent.dom_element</code>
    property. It then calls <code class="inline language-javascript">.initChildComponents()</code> method
    on this newly created <code class="inline language-javascript">RootComponent</code> instance, which,
    as you can imagine, reads and parses its <code class="inline language-javascript">dom_element.innerHtml</code>
    (which was set <code class="inline language-html">&lt;body&gt;</code>, remember?)  until it identifies descendants
    which have a <code class="inline language-javascript">data-component-class</code> attribute on them.

  %p
    For each of the dom elements found to have the <code class="inline language-javascript">data-component-class</code>
    a new component instance is instantiated and, of course, that dom element is assigned as
    <code class="inline language-javascript">dom_element</code> to each respective Component instance.

  %p
    When this process is completed, the newly intialized components are added into the
    <code class="inline language-javascript">.children</code> array
    of their parent component and their own <code class="inline language-javascript">.parent</code>
    property is set accordingly. And finally, once again, <code class="inline language-javascript">initChildComponents()</code>
    is called on each of those components.

  %p Let's illustrate the above with some code. Create component classes first:

  %pre.line-numbers
    %code.language-javascript
      :erb
        export class MyButtonComponent extends extend_as("MyButtonComponent").mix(Component).with() {
          constructor() { this.attribute_names = ["caption", "disabled"]; }
        }
        export class UserFormComponent extends extend_as("UserFormComponent").mix(Component).with() {
          constructor() {}
        }

  %script(type="text/plain" class="language-markup line-numbers")
    :plain
      <body> <!-- Root Component -->
        <form data-component-class="UserFormComponent"> <!-- child of RootComponent -->
          <h1>Create account</h1>
          <!--
            class="formFields" doesn't mean anything in the tag that follows.
            We've added this tag to demonstrate that component children don't have to be
            direct descendants of the parent component's dom element.
          -->
          <div class="formFields">
            <!-- child of UserFormComponent -->
            <button data-component-class="MyButtonComponent" data-component-attr="caption">Sign up</button>
          </div>
        </form>
      </body>

  %p
    Here we can see that the <code class="inline language-html">&lt;form&gt;</code> element has two child nodes:
    <code class="inline language-html">&lt;h1&gt;</code> and <code class="inline language-html">&lt;div&gt;</code>, however those
    don't have <code class="inline language-javascript">data-component-class</code> attributes, so no new components based on
    those nodes are created. However, the <code class="inline language-html">&lt;button&gt;</code> element does have such
    attribute and a new <code class="inline language-javascript">MyButtonComponent</code> is created with this node assigned to
    its <code class="inline language-javascript">.dom_element</code> property. Even though the <code class="inline language-html">&lt;button&gt;</code>
    node isn't the direct descendant of the <code class="inline language-html">&lt;form&gt;</code> node,
    the <code class="inline language-javascript">UserFormComponent</code> instance would still have the <code class="inline language-javascript">MyButtonComponent</code>
    instance as a child.

  %p
    <code class="inline language-javascript">Component</code> class provides a number of methods to manipulate children.
    For example, <code class="inline language-javascript">.applyToChildren()</code> method
    will call a specific method on each child component (recursively too), while <code class="inline language-javascript">.findChildrenByRole()</code> will
    will find all child components with a specific role. Refer to the documentation/code for more insight.

  // TODO: add a list of public methods related to manipulating children when code documentation is ready.

  %h2 Adding components dynamically

  %p
    Sometimes you might want to add a manually created component into the DOM and also into the components hierarchy.
    This can be easily done by invoking the <code class="inline language-javascript">.addChild()</code> method on any component. The method
    accepts another component instance as an argument. Apart from adding the component into the <code class="inline language-javascript">.children</code>
    array, it will also append it to the end of the parent's <code class="inline language-javascript">dom_element</code> -
    a default behavior which can be changed by overwriting the <code class="inline language-javascript">_appendChildDomElement()</code> method.
    For example:

  %pre.line-numbers(data-line="3")
    %code.language-javascript
      :erb
        export class UserFormComponent extends extend_as("UserFormComponent").mix(Component).with() {
          constructor() {}
          _appendChildDomElement(el) { this.dom_element.querySelector('.formFields').append(el); }
        }

  %p
    Now calling <code class="inline language-javascript">UserFormComponent.addChild()</code> will result in appending
    children's dom elements to <code class="inline language-html">&lt;div class="formFields"&gt;</code>
    instead of the <code class="inline language-javascript">&lt;form&gt;</code> element itself.

  = partial "shared/nav", locals: { prev: "Attributes/Casting", nxt: "Hierarchy/Roles"}
