---
title: Hierarchy / Roles - Webface.js
---

- @page_id = "hierarchy/roles"
.title
  %h1 Hierarchy / Roles

.content

  %p
    Each component may have a number roles, which determine its effects on their parents. To understand the value
    of roles, we can come up with a simple example.

  %p
    Suppose we have a single form on the page, which can simultaneously log existing users in, but also create a new
    account. There are two fields - username and password - and two buttons, one for the "sign in" action and the other
    one for the "sign up" action. Clicking on either button invokes the appropriate action.
    In this case, it'd be rather wasteful to create two different Component classes for each button, rather a form should
    decide which request to send. But how would a form know which button was clicked then? Well, here come roles. We could have
    a <code class="inline language-javascript">sign_up</code> role assigned to the "Sign Up" button and a
    <code class="inline language-javascript">sign_in</code> role - to the "Sign in" button:

  // code
  %script(type="text/plain" class="language-markup line-numbers")
    :plain
      <body>
        <form data-component-class="UserFormComponent">
            <button data-component-class="ButtonComponent" data-component-roles="sign_up">
              Sign up
            </button>
            <button data-component-class="ButtonComponent" data-component-roles="sign_in">
              Sign in
            </button>
          </div>
        </form>
      </body>

  %p.note
    <b>Note:</b> you can assign more than one role by separating them with commas, for example:
    <i>data-component-roles="role1,role2"</i>.

  Then our buttons will have their <span class="inlineCode">.roles</span> List contain the following
  (assuming ButtonComponent instances are in <span class="inlineCode">button1</span> and <span class="inlineCode">button2</span> variables):

  %pre.line-numbers
    %code.language-javascript
      :erb
        button1.roles // => ["sign_up"]
        button2.roles // => ["sign_in"]

  %p
    Now, when a "click" event happens to either button, we can catch it and know which button it came from
    (see <a href="/events.html">events section</a> for a thorough explanation of events):

  %pre.line-numbers
    %code.language-javascript
      :erb
        export class UserFormComponent extends extend_as("UserFormComponent").mix(Component).with( {

          constructor() {
            this.event_handlers.addForEvent("click", {
              sign_up: (self,p) => console.log("Sign up button clicked"),
              sign_in: (self,p) => console.log("Sign up button clicked")
            });
          }

        }

  %p
    Of course, in on a real application, you'd replace <code class="inline language-javascript">console.log()</code>
    calls with an ajax request or some more complicated handlers. You can call other component's functions
    by referencing this component through <code class="inline language-javascript">self</code>, which is passed
    to the handler function (<code class="inline language-javascript">this</code>) wouldn't work, since we're
    inside an anonymous function).

  %p
    Roles promote the idea of dumb components: the lower a component is in an hierarchy,
    the dumber it is. A button shouldn't know which request to send to the server when it's clicked,
    but a form this button is inside of should. The button's responsibility is to catch an event and notify the parent.

  = partial "shared/nav", locals: { prev: "Hierarchy/Children & Parents", nxt: "Events/Event handlers"}
