%li{ class: "#{type} collapsed", data: { component_class: "MenuItemComponent", page_id: page_id, type: type }}
  = image_tag "images/arrow_down.svg", class: "arrowDown"
  = image_tag "images/arrow_right.svg", class: "arrowRight"
  = link_to title, link, data: { component_part: "link", component_attr: "title" }
  - if block_content
    %ul= block_content
