---
title: States / Common options - Webface.js
---

- @page_id = "states/common-options"
.title
  %h1 States / Common options

.content

  %p
    There are several common options you can pass to each state manager when defining states in your component.
    Options are passed inside an options object like this:

    %pre.line-numbers
      %code.language-javascript
        :erb
          this.states = [
            "action", { ...options go here },
            // StateActionManager declarations...

            "display", { ...options go here },
            // DisplayStateManager declarations...
          ];

    State-manager-specific options were discussed before when
    <code class="inline language-javascript">StateActionManager</code> and
    <code class="inline language-javascript">DisplayStateManager</code> were described.
    Here, we'll discuss the options that can be used with any state manager.

    %h2 pick_states_with_longest_definition_only
    %p Default value: <code class="inline language-javascript">true</code>
    %p
      By default, <code class="inline language-javascript">StateManager</code> will follow
      the specificity rule. To be more precise: if it finds that two state definitions match current state
      and one of these state definitions has all of the attributes and values of the other one, but also
      contains some other attributes and values (meaning, that definition is longer), it will only pick the one
      with the longest set of attributes. For example given these two declarations match current state:

      %pre.line-numbers
        %code.language-javascript
          :erb
            this.states = [
              "action", {},
              [{ age: { more_than: 21 }}, "transition1"],
              [{ age: { more_than: 21 }, country: "United States"}, "transition2"]
            ];

      only <code class="inline language-javascript">"transition2"</code> will be invoked.

    %p
      While this is useful, it might not always be desirable, thus you can change this behavior by
      setting the <code class="inline language-javascript">pick_states_with_longest_definition_only</code>
      option to <code class="inline language-javascript">false</code>:

      %pre.line-numbers(data-line="2")
        %code.language-javascript
          :erb
            this.states = [
              "action", { pick_states_with_longest_definition_only: false },
              [{ age: { more_than: 21 }}, "transition1"],
              [{ age: { more_than: 21 }, country: "United States"}, "transition2"]
            ];

      Now, both <code class="inline language-javascript">"transition1"</code> and
      <code class="inline language-javascript">"transition2"</code> will be invoked.

  %h2 debug

  %p
    State declarations may get pretty complicated. Unit testing doesn't help with declarative statements
    too much because the tests would simply mimic what's written in state declarations.
    More often than not you'd want to explicitly see which states have been entered or exited and
    find a mistake in your declarations by manually testing your interface in the browser.
    The <code class="inline language-javascript">debug</code> option allows you to print all the information
    you might need with regards to states into the browser console. To enable debugging, you pass
    an object containing some sub-options which would tell your <code class="inline language-javascript">StateManager</code>
    instance exactly what debug information you want to see in your browser console:

    %pre.line-numbers
      %code.language-javascript
        :erb
          this.states = [
            "action", { debug: { log: true, exit_states: true, enter_states: true, transitions: true }},
            // ...
          ];
    %p
      %ul
        %li
          <code class="inline language-javascript">log</code> is a convenience switcher. You may temporarily
          enable or disable logging without removing your other logging preferences.
        %li
          <code class="inline language-javascript">exit_states</code> enables or disables logging
          of exit states.
        %li
          <code class="inline language-javascript">enter_states</code> enables or disables logging
          of enter states.
        %li
          <code class="inline language-javascript">transitions</code> enables or disables logging
          of transitions.

    %p
      To be clear, the logger prints into the console every time your component changes state
      or <code class="inline language-javascript">StateDispatcher.applyTransitions()</code> is otherwise called.
      Very often you might see that no states were entered or exited and no transitions applied - this doesn't mean
      the component itself hasn't changed its state - it only means that it changed its state in such way
      that no <i>in</i> or <i>out</i> transitions were matched against the new state of the component.


  = partial "shared/nav", locals: { prev: "States/Aliases", nxt: "States/Transition ordering" }
