---
title: Ruby On Rails integration / Building forms - Webface.js
---

- @page_id = "ruby-on-rails-integration/building-forms"
.title
  %h1 Ruby On Rails integration / Building forms

.content

  %p
    If you wanted to construct a form using standard components provided by
    <code class="inline language-ruby">webface_rails</code>, but standard rails form helper
    or something like <code class="inline language-ruby">simple_form</code> you'd quickly run
    into issues and find yourself writing a lot of extra options to add the necessary
    <code class="inline language-html">data-</code> attributes. For that reason,
    <code class="inline language-ruby">webface_rails</code> introduces its own
    form helper - <code class="inline language-ruby">webface_form</code>, which supports
    your usual Rails models, has_one/has_many associations, and works very similar to
    <code class="inline language-ruby">simple_form</code>. Here's a form that uses
    all of the possible standard component views in a form:

  %pre.line-numbers
    %code.language-haml
      :erb
        = webface_form @offer do |f|
          = f.text :title, hint: "Short title, 80 characters max", label: "Title"
          = f.textarea :description, hint: "This can be a long story, up to 1000 characters"
          = f.password :password
          = f.hidden :country_id
          = f.numeric :days_active, tabindex: 1
          = f.checkbox :enabled
          = f.select :category, collection: Offer::CATEGORIES  # collection can be Array or Hash
          = f.radio :public, collection: ["public", "private"] # collection can be Array or Hash
          = f.submit "Save"

  %p
    This will generate a nice html with all the right field names
    (<code class="inline language-html">name="offer[field_name]"</code>)
    and will apply the default styles provided by <code class="inline language-ruby">webface_rails</code>.
    If there are validation errors upon form submission, it will display
    validation error below each field.

  %p
    As with <code class="inline language-ruby">define_component</code> helper, you can
    supply these form field helpes various html attributes to add.
    There are form-specific attributes worth mentioning though:

    %ul

      %li
        <code class="inline language-ruby">:label</code> displays a label before the field (or after,
        if it's a checkbox). If not provided, will attempt to load i18n translation from
        <code class="inline">models.model.field_name</code>.
      %li
        <code class="inline language-ruby">:hint</code> displays a small text below the field,
        that you can use to explain more details about this field to the user.
      %li
        <code class="inline language-ruby">:tabindex</code> is assigned automatically to each
        field, so you don't have to specify it, however if you do, all the other tabindexes
        will be adjusted accordingly and the same index will not be reused.
      %li
        <code class="inline language-ruby">:collection</code> option is used
        with <code class="inline language-ruby">select</code> and <code class="inline language-ruby">radio</code>
        fields and is pretty smart. It can take an array, a two-dimensional array, or a hashe as its value
        and properly generate field names/values from it. For example, all of those would be valid values for this
        option:
        %pre.line-numbers
          %code.language-ruby
            :erb
              ["cars", "real_estate", "appliances"]
              [["cars", "Cars"], ["real_estate", "Real estate"], ["appliances", "Appliances"]]
              { cars: "Cars", real_estate: "Real Estate", appliances: "Appliances" }

    %p.note
      To learn more about the possible options for each field, we suggest
      you look at the #{link_to "haml views for standard components", "https://github.com/snitko/webface_rails/tree/master/app/views/webface_components"}.

  = partial "shared/nav", locals: { prev: "Ruby On Rails integration/Standard component views", nxt: "Ruby On Rails integration/Templates" }
