---
title: Ruby On Rails integration / Defining component views - Webface.js
---

- @page_id = "ruby-on-rails-integration/defining-component-views"
.title
  %h1 Ruby On Rails integration / Defining component views

.content

  %p Let's go over a simple example in HTML and then rewrite it using <code class="inline language-ruby">webface_rails</code> helpers.

  %script(type="text/plain" class="language-markup line-numbers")
    :plain
      <div class="offerList"
        data-component-class="OfferListComponent"
        data-component-attr-map="visible:data-visible,per_page:data-per-page"
        data-visible="true"
        data-per-page="10"
      >
        <div class="offer" style="font-weight: bold"
          data-component-class="OfferComponent"
          data-component-attr-map="visible:data-visible,disabled:disabled"
          data-visible="true"
          disabled="false"
        >
          <div data-component-part="body">
            <span data-component-attr="title">Selling a BMW, year 2010</span>
            <span data-component-attr="description">Very good condition</span>
          </div>

        </div>
      </div>

  %p That's a pretty long piece of code and even if we rewrite it in haml, it would still look long:

  %pre.line-numbers
    %code.language-haml
      :erb
        .offerList{ data: {                                          |
            attr_map: "visible:data-visible,per_page:data-per-page", |
            component_class: "OfferListComponent",                   |
            per_page": 10,                                           |
            visible: true                                            |
          }}                                                         |

          .offer{ data: {
              attr_map: "visible:data-visible,disabled:disabled", |
              component_class: "OfferComponent",                  |
              visible: true,                                      |
            }, disabled: false }                                  |

            %div{ data: { component_part: "body" }}
              %span{ data: { component_attr: "title"       } Selling a BMW, year 2010
              %span{ data: { component_attr: "description" } Very good condition

  %p.note
    The <code class="inline language-ruby">|</code> character at the end of some of the lines means
    that all following lines that end with <code class="inline language-ruby">|</code>
    will be evaluated as though they were on the same line.
    Note that even the last line in the multiline block should end with <code class="inline language-ruby">|</code>.
    #{link_to "Read more in HAML documentation", "http://haml.info/docs/yardoc/file.REFERENCE.html#multiline"}
  %p <code class="inline language-ruby">webface_rails</code> helpers allow you to do this:

  %pre.line-numbers
    %code.language-haml
      :erb
        = define_component :offer_list, ".offerList",       |
          mapped_attrs: { per_page": 10, visible: true } do |

          = define_component :offer, ".offer", |
            attr_map: "disabled:disabled",     |
            disabled: false,                   |
            style: "font-weight: bold",        |
            mapped_attrs: { visible: true } do |

            = component_part :body do
              = component_attr :title, "span", text_content: "Selling a BMW, year 2010"
              = component_attr :description, "span", text_content: "Very good condition"

  %p
    It might seem like we haven't won a lot by using the helpers, but, firstly, it becomes very apparent how many duplicate
    words we need to write if our component has a lot attributes (<code class="inline language-ruby">mapped_attrs</code>
    saves us this work). But then, also, once we employ the <code class="inline language-ruby">#component</code>
    helper and move our <code class="inline language-ruby">#define_component</code> calls into separate views in
    the <code class="inline language-ruby">app/views/webface_components</code> directory, it becomes exceptionally
    easy to reuse components with just one line of code.

  %p
    Another thing to notice is that the <i>options</i> argument
    (the hash, which is the last argument) passed to <code class="inline language-ruby">#define_component</code>
    has a much more flat strcuture. For example, in the haml code, we have to be careful to specify
    the value for <code class="inline language-ruby">disabled</code> attribute outside of the
    <code class="inline language-ruby">data</code> hash, however we don't have to think about that when using
    <code class="inline language-ruby">webface_rails</code> as it would correctly imply html-attribute name
    from the <code class="inline language-ruby">attr_map</code> provided. Because we specified
    <code class="inline language-ruby">attr_map: "disabled:disabled"</code> the helper now knows
    to put the value in the <code class="inline language-html">disabled=</code> html attribute, and NOT
    into <code class="inline language-html">data-disabled=</code>.

  = partial "shared/nav", locals: { prev: "Ruby On Rails integration/Installation", nxt: "Ruby On Rails integration/Reusing component views" }
