---
title: Ruby On Rails integration / Helper options - Webface.js
---

- @page_id = "ruby-on-rails-integration/helper-options"
.title
  %h1 Ruby On Rails integration / Helper options

.content

  %p
    While we've certainly had a chance to look at the helpers provided by <code class="inline language-ruby">webface_rails</code>
    in the previous sections, we haven't formalized how options passed to those helpers are processed.

  %p
    The examples below use <code class="inline">#define_component</code> to demonstrate how to pass
    options. However, the same approach can be used when passing options to
    <code class="inline">#component</code>,
    <code class="inline">#component_attr</code>
    <code class="inline">#component_part</code>
    <code class="inline">#component_template</code>
    helpers as they all, one way or another use <code class="inline">#define_component</code>
    and pass the same options to it. The only difference would be that those helpers have a different set
    of arguments, but that's kind assumed.

  %h2 Passing options related to Webface.js

  %p
    First thing to remember about the options is that you don't need to pass
    <code class="inline language-ruby">data: {}</code> inside the options hash. You certainly could, if you needed
    those for things unrelated to Webface.js, but if we're talking about <code class="inline language-html">data-</code>
    attrubutes for html-tags that are used by Webface.js, then those are actually derived from
    <code class="inline language-ruby">attr-map</code> specified or component name passed to the helper. For example this code:

  %pre.line-numbers
    %code.language-haml
      :erb
        = define_component :offer, "div", { data: {               |
            component_class: "OfferComponent",                    |
            id: "123"                                             |
            created_at "26 Aug 2019",                             |
            attr_map: "title:data-id,description:data-created-at" |
          }} do                                                   |

  %p is actually equivalent to this:

  %pre.line-numbers
    %code.language-haml
      :erb
        = define_component :offer, "div", { |
            id: "123"                       |
            created_at "26 Aug 2019",       |
            attr_map: "id,created_at"       |
          } do                              |

  %p
    Notice how we simplified the <code class="inline language-ruby">attr_map: "id,created_at"</code> option value:
    this will be automatically expanded to <code class="inline language-html">attr-map="title:data-id,description:data-created-at"</code> by <code class="inline language-ruby">webface_rails</code> when generating html. But we could simply even that
    by using the <code class="inline language-ruby">mapped_attr</code> option:

  %pre.line-numbers
    %code.language-haml
      :erb
        = define_component :offer, "div", { |
          mapped_attrs: {                   |
            id: "123",                      |
            created_at "26 Aug 2019",       |
          }} do                             |

  %p
    Internally, <code class="inline language-ruby">mapped_attrs</code> will just add the
    <code class="inline language-ruby">"title:data-id,description:data-created-at"</code> to the
    resultion options hash, which will be used to generate html attributes.

  %p
    The important thing to understand here is that because we specify attribute map this way or
    another (explicitly with <code class="inline language-ruby">attr_map</code> or implicitly with
    <code class="inline language-ruby">mapped_attrs</code>), <code class="inline language-ruby">webface_rails</code>
    will correctly create appropriate html-attriubutes out of the options passed to the helper.


  %h2
    Passing options meant to be html attributes unrelated to Webface.js

  %p
    Apart from Webface.js related options, you might want to pass some other ones, which
    are meant to be used as html attributes. And it's just as straightforward, you can just specify
    it along the other options and everything that's not in the attribute map or isn't a special
    keyword option (such as <code class="inline language-ruby">component_class</code>) will be used
    to add html attribute of the same name. For example, here's how we add an inline style:

  %pre.line-numbers(data-line="2")
    %code.language-haml
      :erb
        = define_component :offer, "div", { |
          style: "font-size: 90%;",         |
          mapped_attrs: {                   |
            id: "123",                      |
            created_at "26 Aug 2019",       |
          }} do                             |

  %p or, if you, as we do, think inline styles is bad practice, you van specify a css class:

  %pre.line-numbers(data-line="2")
    %code.language-haml
      :erb
        = define_component :offer, "div", { |
          class: "offer",                   |
          mapped_attrs: {                   |
            id: "123",                      |
            created_at "26 Aug 2019",       |
          }} do                             |

  %p
    For the <code class="inline language-html">class</code> attribute though,
    there is a nice shortcut:

  %pre.line-numbers(data-line="1")
    %code.language-haml
      :erb
        = define_component :offer, ".offer", { |
          mapped_attrs: {                      |
            id: "123",                         |
            created_at "26 Aug 2019",          |
          }} do                                |


  %p
    There would be a problem if we wanted to pass <code class="inline language-ruby">id</code>
    and make it so that it is an html attribute <code class="inline language-html">id=</code>
    because we're already passing a component attribute with the same name. Thus, it'd be best to rename
    the component attribute in yuor javascript code or manually pass it into the <code class="inline language-ruby">data: {}</code>
    hash like this (which, really, complicates things, but for demonstrational purposes, let's do it):

  %pre.line-numbers(data-line="1")
    %code.language-haml
      :erb
        = define_component :offer, "div", { |
            id: "123"                       |
            created_at "26 Aug 2019",       |
            data: { id: "123" },            |
            attr_map: "id,created_at",      |
            id: "unique_dom_id_123"         |
          } do                              |

  %p This will, then, generate the following html:

  %script(type="text/plain" class="language-markup line-numbers" data-line="3,5")
    :plain
      <div data-component-class="OfferComponent",
           data-component-attr-map="id:data-id,created_at:data-created-at"
           data-id="123"
           data-created-at="26 Aug 2019"
           id="unique_dom_id_123">
      </div>

  %p
    As you can see, this avoids the naming conflict, although we wouldn't recommend
    having that conflict in the first place.

  = partial "shared/nav", locals: { prev: "Ruby On Rails integration/Reusing component views", nxt: "Ruby On Rails integration/Standard components views" }
