---
title: Ruby On Rails integration / Overview - Webface.js
---

- @page_id = "ruby-on-rails-integration/overview"
.title
  %h1 Ruby On Rails integration / Overview

.content

  %p
    Webface.js has integration with Ruby On Rails via the #{link_to "webface_rails", "https://github.com/snitko/webface_rails"}
    rubygem. It provides the the following functionality:

  %ul
    %li Helpers to create component presentation in haml
    %li Helpers to create forms with components, which are inputs
    %li Standard components views
    %li Defaults css styles for standard component views
    %li Generators for easy integration

  %p
    Without any understanding of the creating component views whih are discussed in the next section, you can start
    using webface_rails predefined component views like this:

  %pre.line-numbers
    %code.language-haml
      :erb
        %h1 Webface test
        = component :button, caption: "hello", type: "button"
        = component :checkbox, label: "hello", name: "checkbox1"
        = component :hidden_form_field, name: "hidden_field_1", value: "hidden value"
        = component :numeric_form_field, name: "numeric_form_field", value: "123"

        = button_link "My offers", "/offers"
        = post_button_link "Delete offer", "/offers", "POST" 
        = webface_form @offer do |f|
          = f.hidden :country_id, value: current_user.country_id
          = f.text :title, hint: t("hints.offer_form.custom_title"), tabindex: 2
          = f.textarea :description, hint: t("hints.offer_form.description"), tabindex: 1
          .actions
            = f.submit "Save offer"
            = f.checkbox :published


  %p
    As you can see, you can create component views very easily, They even have default stylesheets
    provided by <code class="inline language-ruby">webface_rails</code>. And the <code class="inline language-ruby">webface_form</code>
    helper works almost the same as #{link_to "simple_form", "https://github.com/plataformatec/simple_form" }.

  %p
    Of course, <code class="inline language-ruby">webface_rails</code> allows you to create your
    own component views that you can reuse. That and the details of using <code class="inline language-ruby">webface_rails</code>
    helpers will be discussed in the next sections.


  %p
    Instead of writing erb/haml code for components by hand, listing all the necessary html-attributes, such
    as <code class="inline language-javascript">data-component-class</code>,
    <code class="inline language-javascript">data-component-roles</code> and others,
    <code class="inline language-javascript">webface_rails</code> allows you to make use of special helpers
    which significantly ease this process.

  %p
    There are 4 major helpers that you might want to use in your erb/haml code:

  %ul
    %li <code class="inline">#component</code>
    %li <code class="inline">#component_template</code>
    %li <code class="inline">#component_part</code>
    %li <code class="inline">#component_attr</code>
    %li
      <code class="inline">#define_component</code>
      (alias for <code class="inline">#component_block</code>)


  = partial "shared/nav", locals: { prev: [nil, "Something", "something"], nxt: "Ruby On Rails integration/Installation" }
